<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="ru.innopolis.lips.memvit.ConfigurationDelegate"
            id="CMemvit.launchConfigurationType1"
            modes="debug"
            name="CMemvit Configuration"
            public="true"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="ru.innopolis.lips.memvit.CMemvitLaunchConfigurationTabGroup"
            id="CMemvit.launchConfigurationTabGroup1"
            type="CMemvit.launchConfigurationType1">
      </launchConfigurationTabGroup>
   </extension>

</plugin>
